*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: #dddddd;
	background-color: #e1e1e1;
}

/* formatacao do header no menu */
header#logo h1 {
	background-image: url('../img/logo/pb.png');
	background-repeat: no-repeat;
	width: 4em;
	height: 4em;
	margin: 1em 1em 1em 4em;
}

header#logo h1 a {
	display: block;
	text-indent: -999999em;
	height: 100%;
}

/* formatacao do menu */
section#menu {
	width: 100%;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	background-color: #111111f8;
	align-items: center;
	position: fixed;
	z-index: 999999;
}

section#menu nav {
	font-family: "Roboto Condensed";
	text-transform: uppercase;
}

section#menu nav ul {
	display: flex;
	align-items: center;
}

section#menu nav li {
	width: 10vw;
	margin-right: 1vw;
	font-size: 1.6vw;
	text-align: center;
	line-height: 10vh;
}

section#menu nav li a {
	text-decoration: none;
	color: #e9c05a;
	display: block;
}

section#menu nav li a:hover,
section#menu nav li a:focus,
section#menu nav li:target a {
	background-color: #e9c05a;
	color: #1f1f1f;
}

section#menu nav li:nth-child(5) a {
	width: 9vw;
	font-size: 1.6vw;
	line-height: 7vh;
	background-color: #e9c05a;
	color: #1f1f1f;
	border-radius: 3%;
}

section#menu nav li:nth-child(5) a:hover {
	background-color: #DAA520;
}

/* formatacao da section top */
section#top {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/bg/bg02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5vw;
}

section#top h1 {
	margin-top: 10vh;
	margin-bottom: 5vh;
}

section#top h2 {
	color: #1f1f1f;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 1.75vw;
	font-weight: 700;
	letter-spacing: 0.25em;
	margin-bottom: 5vh;
}

section#top input[type="button"] {
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	background-color: #ffcc4b;
	color: #1f1f1f;
	border: none;
	width: 25vw;
	height: 10vh;
	font-weight: 500;
	font-size: 1.75vw;
	text-align: center;
}

section#top input[type="button"]:hover {
	cursor: pointer;
	color: #fff;
	background-color: #DAA520;
}

/* formatacao da section atuacao */
section#atuacao {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #1f1f1f;
	flex-direction: column;
	justify-content: center;
}

section#content-atuacao {
	display: flex;
	justify-content: center;
	gap: 5vw;
}

section#atuacao header h1 {
	text-transform: uppercase;
	text-align: center;
	color: #ffcc4b;
	font-size: 3vw;
	font-weight: 500;
	letter-spacing: 0.75vw;
	margin-bottom: 3vh;
}

section#atuacao h2 {
	font-family: "Roboto Condensed";
	color: #d8d8d8;
	font-size: 1.5vw;
	font-weight: 200;
	text-align: center;
	margin-bottom: 10vh;
}

section#content-atuacao section {
	display: flex;
	width: 25vw;
	flex-direction: column;
	align-items: center;
}

section#content-atuacao section img {
	width: 12vw;
	height: 12vw;
}

section#content-atuacao section h3 {
	text-transform: uppercase;
	font-family: "Roboto Condensed";
	text-align: center;
	color: #DAA520;
	font-weight: 700;
	font-size: 2vw;
	margin: 4vh 0 2vh;
}

section#content-atuacao section h4 {
	font-family: "Roboto Condensed";
	color: #d8d8d8;
	font-size: 1.25vw;
	font-weight: 200;
	text-align: center;
}

/* formatacao da section clientes */
section#clientes {
	display: flex;
	height: 80vh;
	width: 100%;
	background-color: rgb(230, 230, 230);
	flex-direction: column;
	justify-content: center;
}

div#row-clientes {
	display: flex;
	flex-flow: column wrap;
	align-content: space-around;
}

section#clientes header h2 {
	text-transform: uppercase;
	text-align: center;
	color: #1f1f1f;
	font-size: 3vw;
	font-weight: 500;
	letter-spacing: 0.75vw;
	margin-bottom: 3vh;
}

section#clientes h3 {
	font-family: "Roboto Condensed";
	color: #1f1f1f;
	font-size: 1.5vw;
	font-weight: 200;
	text-align: center;
	margin-bottom: 10vh;
}

section#content-clientes {
	display: flex;
	justify-content: center;
	gap: 6.5vw;
}

section#content-clientes section {
	width: 10vw;
	height: 10vw;
}

section#content-clientes img:hover {
	transform: scale(1.25);
	transition: all 0.4s ease-in-out;
	border: solid 0.025vh #DAA520;
  }

/* formatacao da section formulário de contato */
#contato {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #1f1f1f;
}

#contato header h1 {
	text-transform: uppercase;
	text-align: center;
	color: #ffcc4b;
	font-size: 3vw;
	font-weight: 500;
	letter-spacing: 0.75vw;
	margin-bottom: 10vh;
}

#contato form {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contato .form-row {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#contato .form-group {
	display: flex;
	width: 100%;
	margin: 1.2vw;
	position: relative;
	align-items: center;
	justify-content: center;
}

#contato label {
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto Condensed";
	color: #DAA520;
	font-weight: 500;
	font-size: 2vw;
	position: absolute;
	top: -3vh;
	left: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#contato input {
	margin-top: 3vh;
	margin-bottom: 5vh;
	width: 37vw;
	height: 7vh;
	font-family: "Roboto Condensed";
	font-size: 3vh;
}

#contato textarea {
	margin-top: 3vh;
	margin-bottom: 3vh;
	width: 76.2vw;
	height: 28vh;
	font-family: "Roboto Condensed";
	font-size: 3vh;
}

#detalhes textarea {
	width: 100%;
}

#detalhes label {
	text-align: center;
}

#contato button {
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	background-color: #ffcc4b;
	color: #1f1f1f;
	border: none;
	width: 25vw;
	height: 7vh;
	font-size: 4vh;
	text-align: center;
}

#contato button:hover {
	cursor: pointer;
	color: #fff;
	background-color: #DAA520;
}

/* inicio da formatacao do footer */
div#footer {
	width: 100%;
	background-color: #472727;
	padding: 3vh 0 1vh 1.75vh;
}

div#footer footer nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div#footer footer nav address {
	font-size: 1vw;
	padding-right: 2vw;
}

div#footer footer nav address a:link {
	text-decoration: underline;
	color: #DAA520;
}

div#footer footer nav address a:visited{
	color: #DAA520
}

/* image replacement e css sprite */
nav#social dl {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-left: 3.75vw;
}

nav#social dl dd {
	width: 40px;
	height: 40px;
	margin-right: 0.75vw;
}

nav#social dl dd a {
	background: url('../img/sprites/sprite-social2.png') no-repeat;
	display: block;
	height: 100%;
	text-indent: -999999em;
}

nav#social dl dd:nth-child(1) a {
	background-position: 0 0;
}

nav#social dl dd:nth-child(1) a:hover {
	background-position: 0 -40px;
}

nav#social dl dd:nth-child(2) a {
	background-position: -40px 0;
}

nav#social dl dd:nth-child(2) a:hover {
	background-position: -40px -40px;
}

nav#social dl dd:nth-child(3) a {
	background-position: -80px 0;
}

nav#social dl dd:nth-child(3) a:hover {
	background-position: -80px -40px;
}

nav#social dl dd:nth-child(4) a {
	background-position: -120px 0;
}

nav#social dl dd:nth-child(4) a:hover {
	background-position: -120px -40px;
}

/* media queries PENDENTE */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

